<h1>This works</h1>

{% schema %}
  {
    "name": "Mock-Template",
    "settings": [
      {
        "type": "text",
        "id": "Mock-temp",
        "label": "A reference for shopify Liquid "
      }
    ],
    "presets": [
      {
        "name": "Mock-Template",
        "category": "Reference"


      }
    ]
  }
{% endschema %}