<section id="{{ section.id }}" class="pink-gradient masks-section-padding text-center">

  <div class="container">
    <div class=" row">
      {%- unless section.blocks.size ==  0 -%}
        <div class="col-12 col-lg-10 richtext-h2 mx-auto">
          {{ section.settings.heading }}
        {%- endunless -%}
      </div>
    </div>

    {%- unless section.blocks.size ==  0 -%}
      <div class="row">
        <h1>{{ section.blocks.length }}</h1>
        {% for block in section.blocks %}
          <div class="col-6 col-sm-4 col-lg-2 mx-auto">
            {% if block.settings.image_url != '' %}
              <img class="img-fluid mt-5" src="{{ block.settings.image_url | img_url: '200x' }}">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {%- endunless -%}
  </div>
</section>

{% schema %}
  {
    "name": "five-cols-and-icons",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      }, {
        "type": "richtext",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable"
      }
    ],
    "presets": [
      {
        "name": "five-cols-and-icons",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_url",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}