<section class="video-hero">
  <video src="https://cdn.shopify.com/videos/c/o/v/4c0d565578a84e46a044cb4f6e517eef.mp4" autoplay muted class="video-fit"></video>
  <div class=" position-absolute top-0 w-100 h-100 d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <h1 class="video-heading text-white">From the
            <span><br class="d-none d-lg-block"></span>
            inside out</h1>
          <h3 class="text-white">Skincare that treats beyond the barrier,<br class="d-none d-lg-block"> because healthy skin starts from within.</h3>
          <a href="#" class="masks-btn masks-btn-white ">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "header-video-section",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "From the inside out"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "image_picker",
        "id": "image_product1",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_product2",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "header-video-section",
        "category": "Content"
      }
    ]
  }
{% endschema %}