<section id="{{ section.id }}" class=" text-center column-border pink-gradient masks-section-padding p-0 overflow-hidden ">
<section class="loco_cat loco_section py-4 py-sm-5 bg-fa swiper-btns">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex loco_section__head justify-content-center justify-content-sm-between align-items-sm-center mb-2 mb-md-2">
          <div class="loco_section__heading">
            <h3 class="loco_section__title">Our Categories</h3>
            <p class="mb-0 loco_section__text">Browse Business by our categories</p>
          </div>
          <div class="loco_section__carobtn d-none d-sm-inline-block">
            <button class="btn btn-outline-primary rounded-pill carousel__btn_prev mr-1">
              <i class="fa fa-angle-left d-flex"></i>
            </button>
            <button class="btn btn-outline-primary rounded-pill carousel__btn_next">
              <i class="fa fa-angle-right d-flex"></i>
            </button>
          </div>
        </div>
      </div>


  {% schema %}
  {
    "name": "slider-custom",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      }, {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "How it works?"
      }
    ],
    "presets": [
      {
        "name": "slider-custom",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "text",
            "id": "subheading",
            "label": "Subheading"
          }
        ]
      }
    ]
  }
{% endschema %}