<section class="column-border masks-section-padding" id="{{ section.id }}">
  <div class="container-xxl" ">
    <div class="row d-flex g-5">
      <div class="col-12 col-md-6 d-flex col-lg-4 align-items-center">
        <div class="row">
          <h1>What’s your skin concern?
          </h1>
          <p>Find the right device with clinically-proven results for clearer and healthier skin.</p>
        </div>
      </div>
      <div class="col-12 justify-content-center col-md-6 col-lg-4 d-flex align-content-between flex-wrap">
        <img class="img-fluid" src="{{ section.settings.image_product1 | img_url: '2400x' }}">
        <div>
          <h2>“I want plumper, younger-looking skin”</h2>
          <p class="mb-3">Omnilux Contour™ red and near-infrared LED devices reduce fine lines, wrinkles, and the appearance of pigmentation and redness, while restoring a healthy, youthful glow.</p>
          <div class="masks-btn">Shop Contour</div>
        </div>
      </div>
      <div class="col-12   justify-content-center col-md-6 col-lg-4 ">
        <img class="img-fluid" src="{{ section.settings.image_product2 | img_url: '2400x' }}">
        <div>
          <h2>“I want plumper, younger-looking skin”</h2>
          <p class="mb-3">The Omnilux CLEAR™ red and blue LED device significantly reduces or eliminates acne, blemishes, and inflammation, while softening the appearance of acne scarring.</p>
          <div class="masks-btn">Shop Clear</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "three-cols-standard",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "How it works?"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "image_picker",
        "id": "image_product1",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_product2",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "three-cols-standard",
        "category": "Content"
      }
    ]
  }
{% endschema %}