<section class="column-border masks-section-padding" id="{{ section.id }}">
  <div class="container">
    <div class="row g-5 ">
      <div class="col-12 col-lg-6">
        <img class="img-fluid" src="{{ section.settings.image_main | img_url: '2400x' }}">
        <div class="d-block d-lg-none text-center">
          <h1>Your favorites</h1>
          <div class="masks-btn">Shop ALl</div>
        </div>
      </div>
      <!-- Second Column-->
      <div class="col-6 col-lg-3 d-flex">
        <div class="row align-content-between text-center ">
          <img class="img-fluid" src="{{ section.settings.image_small_one| img_url: '2400x' }}">
          <div class="d-none d-lg-block text-lg-start">
            <h1>Your favorites</h1>
            <div class="masks-btn">Shop ALl</div>
          </div>
        </div>
      </div>
      <!-- Third Column-->
      <div class="col-6 col-lg-3">
        <img class="img-fluid" src="{{ section.settings.image_small_two | img_url: '2400x' }}">
      </div>
      <!-- End Row-->
    </div>
    <!-- End Container-->
  </div>
</section>

{% schema %}
  {
    "name": "three-cols-mixed",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "How it works?"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "image_picker",
        "id": "image_main",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_small_one",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_small_two",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "three-cols-mixed",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon Name"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "image_picker",
            "id": "image_url",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}