<style>

  .btn {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }

  .btn:hover {
    background-color: black;
    color: white;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
  }
  span {
    font-style: italic;
    font-weight: 100;
  }
  .column-border {
    margin: 50px 0;
    border-top: 1px solid black;
  }
</style>

<section class="column-border" id="{{ section.id }}">
  <div class="container">
    <div class="row  my-5 g-5 d-flex justify-content-center">
      <div class="col-12 col-lg-6">
        <img class="img-fluid" src="{{ section.settings.image_main | img_url: '2400x' }}">

      </div>

      <div class="col-12 col-lg-6">
        <div class="row g-5  d-flex justify-content-center">
          <div class="col-6 d-flex flex-column align-self-stretch">
            <img class="img-fluid" src="{{ section.settings.image_small_one| img_url: '2400x' }}">
            <h1 class="align-self-end">Your favorites</h1>
          </div>
          <div class="col-6">
            <img class="img-fluid" src="{{ section.settings.image_small_two | img_url: '2400x' }}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "three-cols-mixed",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "How it works?"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "image_picker",
        "id": "image_main",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_small_one",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_small_two",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "three-cols-mixed",
        "category": "Content"
      }
    ],
    "blocks": [
      {
        "type": "content",
        "name": "Content",
        "settings": [
          {
            "type": "text",
            "id": "icon",
            "label": "Icon Name"
          }, {
            "type": "text",
            "id": "heading",
            "label": "Heading"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }, {
            "type": "image_picker",
            "id": "image_url",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}