<section class="column-border masks-section-padding pink-gradient" id="{{ section.id }}">
  <div class="container">
    <div class="row d-flex ">
      <div class="col-12 d-flex flex-column  justify-content-center col-md-6 col-lg-6 ps-md-5 order-md-2">
        <div class="justify-content-center ">
          <img class="img-fluid" loading="lazy" src="{{ section.settings.image | image_url: width: 2400, height: 2400 }} ">
          <div class="btn pos-relative">SHOP ALL</div>
        </div>
      </div>
      <div class="col-12 d-flex flex-column col-md-6 justify-content-center pe-md-5 order-md-1">
        <div>
          <h2>Medical-grade light ts/p>
          <div class="btn">SHOP ALL</div>
        </div>
      </div>-
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "two-cols-container",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "How it works?"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "two-cols-container",
        "category": "Content"
      }
    ]
  }
{% endschema %}