<style>

  .btn {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
  }

  .btn:hover {
    background-color: black;
    color: white;
  }

  h1 {
    font-size: 5.5rem;
    font-weight: 300;
    margin-bottom: 3%;
  }
  h2 {
    font-size: 4rem;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  span {
    font-style: italic;
    font-weight: 100;
  }
  .column-border {
    margin: 50px 0;
    border-top: 1px solid black;
  }
  p {
    margin-top: ;
    font-size: 2rem;
  }
  .custom-div {
    margin-left: 10%;
  }
</style>

<section class="column-border" id="{{ section.id }}">
  <div class=".container-fluid" ">
    <div class="row d-flex">
      <div style="padding: 0px;" class="col-12 d-flex flex-column  justify-content-center col-md-6 col-lg-6 justify-content-center">
        <div>
          <h2>“I want plumper, younger-looking skin”</h2>
          <p>Omnilux Contour™ red and near-infrared LED devices reduce fine lines, wrinkles, and the appearance of pigmentation and redness, while restoring a healthy, youthful glow.</p>
          <div class="btn">SHOP ALL</div>
        </div>
      </div>
      <div style="padding: 0px;" class="col-12 d-flex flex-column  justify-content-center col-md-6 col-lg-6 justify-content-center">
        <img class="img-fluid" src="{{ section.settings.image_variant1 | img_url: '2400x' }}">
      </div>
      <div style="padding: 0px;" class="col-12 d-flex flex-column  justify-content-center col-md-6 col-lg-6 justify-content-center">
        <img class="img-fluid" src="{{ section.settings.image_variant2 | img_url: '2400x' }}">
      </div>
      <div style="padding: 0px;" class="col-12 d-flex flex-column  justify-content-center col-md-6 col-lg-6 justify-content-center">
        <div class="custom-div">
          <h2>Trusted and used by dermatologists worldwide</h2>
          <p>Omnilux is recognized as the world leader in medical-grade LED light therapy devices. For the first time, there are now home-use devices based on Omnilux’s proven, professional-grade technology.</p>
          <div class="btn">SHOP ALL</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "two-cols-full",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#eae6da"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Leave empty to disable",
        "default": "How it works?"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "Subheading",
        "info": "Leave empty to disable"
      }, {
        "type": "image_picker",
        "id": "image_variant1",
        "label": "Image"
      }, {
        "type": "image_picker",
        "id": "image_variant2",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "two-cols-full",
        "category": "Content"
      }
    ]
  }
{% endschema %}