/* Footer */
.footer-column-padding {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.footer-column-border {
  border-right: 2px solid #8f8b8b;
}

.footer-section-border {
  border-top: 2px solid #d7c9c9;
  border-bottom: 2px solid #8f8b8b;
}

.footer-icon {
  color: black;
  width: 20px;
  margin-bottom: 5px;
}

.footer-icon:hover {
  cursor: pointer;
}

.footer-list li {
  list-style: none;
  margin: 10px 0;
  line-height: 25px;
}

.footer-p {
  color: #4d4d4d;
  font-size: 12px;
  line-height: 22px !important;
}

ul {
  padding: 0px;
  margin: 0px;
}

.footer-money {
  width: auto;
  padding: 5px 10px;
}

.footer-img {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.footer-btn {
  border: 1px solid #6c757d;
  color: #262626;
}

.footer-btn:hover {
  background-color: black;
  color: white;
  width: auto;
}

.henlo1 {
  border-top: 0px solid #8f8b8b;
}

.footer-btn-white {
  border: 1px solid white;
  color: white;
}

.footer-btn-white:hover {
  background: white;
  color: black;
}

@media only screen and (max-width: 960px) {
  .footer-p {
    font-size: 14px;
  }

  .footer-custom-padding {
    padding-right: 5vh;
  }
  .footer-section-border {
    border-top: 2px solid #8f8b8b;
  }
}

@media only screen and (max-width: 767px) {
  .footer-column-border {
    border-right: 0px;
  }

  .henlo1 {
    border-top: 2px solid #8f8b8b;
  }

  .footer-img {
    margin-top: 8vh;
    margin-bottom: 5vh;
  }

  .footer-column-padding {
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  .footer-section-border {
    border-top: 2px solid #8f8b8b;
  }

  .footer-column-border {
    border-bottom: 0px;
  }
}
